<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Soustraction Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Soustraction Page</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src="/assets/images/calcul.png" class="custom-image"></ion-img>
  
  <p>Welcome to Calcul Application!</p>

  <div id="Addition" class="custom-container">
    <ion-input type="number" [(ngModel)]="op1" class="custom-input" />
    <ion-input type="number" [(ngModel)]="op2" class="custom-input" />
    <button (click)="soustraction()" class="custom-button">Soustraction</button>
  </div>

  <div id="resultat">
    {{resultat}}
  </div>

</ion-content>
